---
import HeaderAndFooter from "../../components/HeaderAndFooter/index.astro";
import PageCard from "../../components/basic/PageCard.astro";

const now = new Date();

let posts = await Astro.glob("../../posts/**/*.mdx");
posts = posts
  .filter((p) => {
    return import.meta.env.DEV || p.frontmatter.publish;
  })
  .map((p) => {
    const page = { ...p };
    console.log("p.file", p.file, "p");
    const slug = p.file.split("/src/posts/")[1].split(".")[0];
    const breadcrumbs = slug.split("/");
    breadcrumbs.pop();
    const href = "/blog/" + slug;
    const date = new Date(p.frontmatter.date);
    page.href = href;
    page.date = date;
    page.breadcrumbs = breadcrumbs;
    return page;
  })
  // .filter((p) => {
  //   return p.date <= now;
  // })
  .sort((a, b) => {
    return b.date - a.date;
  });
---

<HeaderAndFooter
  allowMainStyles
  title={"Blog"}
  description={"Explore written pieces surrounding my experiements, ventures, thoughts, and learnings."}
>
  <h1>Blog</h1>
  <p>
    Digestible reads with below-the-surface insight into my experiements,
    ventures, thoughts, and learnings. I write new pieces every so often, so
    check back to see what's new!
  </p>
  <h2>Recent Posts</h2>
  <div class="posts">
    {
      posts.map((post) => {
        return (
          <PageCard
            href={post.href}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            image={post.frontmatter.image}
            date={post.date}
            breadcrumbs={post.breadcrumbs}
          />
        );
      })
    }
  </div>
</HeaderAndFooter>

<style>
  .posts {
    margin-top: 0.4em;
  }
  .posts > :global(*) {
    margin: 1.2em 0;
  }
  :global(.pageContent > *) {
    max-width: min(800px, 100%);
  }
</style>
