---
import resume from "./resume";

export function formatPhone(num) {
  const s = "" + num;
  return `(${s.substring(0, 3)}) ${s.substring(s.length - 7, s.length - 4)}-${s.substring(s.length - 4)}`;
}

export function toTenths(num) {
  if (num % 1 == 0) {
    return "" + num + ".0";
  }
  return "" + Math.round(num * 10) / 10;
}
---

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>{resume.name}</h1>
      <p>{resume.occupation}</p>
      <p>{resume.location}</p>
      <p>{resume.email}</p>
      <p>{resume.website}</p>
      <p>{formatPhone(resume.phone)}</p>
    </header>
    <section>
      <h2>Experience</h2>
      {
        resume.employment.map((employer) => (
          <article>
            <h3>{employer.company}</h3>
            {employer.positions.map((position) => (
              <article>
                <h4>
                  <strong>{position.title}</strong>
                  {", "}
                  {position.team}
                </h4>
                <p class="timeRange">
                  {position.startMonth} {position.startYear}
                  {" - "}
                  {position.endMonth
                    ? `${position.endMonth} ${position.endYear}`
                    : "Present"}
                </p>
                <ul>
                  {position.bullets.map((bullet) => (
                    <li>{bullet}</li>
                  ))}
                </ul>
              </article>
            ))}
          </article>
        ))
      }
    </section>
    <section>
      <h2>Education</h2>
      {
        resume.education.map((edu) => (
          <article>
            <h3>{edu.school}</h3>
            <h4>
              {edu.degrees.map((degree, i) => (
                <>
                  <strong>
                    {degree.typeAbbreviation} {degree.majors[0].name}
                    {degree.majors[0].focus ? (
                      <>
                        {" - "}
                        {degree.majors[0].focus}
                      </>
                    ) : null}
                  </strong>
                  {` (${toTenths(degree.gpa)}/4 GPA)${i < edu.degrees.length - 1 ? ", " : ""}`}
                </>
              ))}
            </h4>
            <p class="timeRange">{`${edu.degrees[1].startMonth} ${edu.degrees[1].startYear} - ${edu.degrees[0].gradMonth} ${edu.degrees[0].gradYear}`}</p>
          </article>
        ))
      }
    </section>
    <section>
      <h2>Skills & Proficiencies</h2>
      <article>
        <h4>
          <strong>Business Skills</strong>: {resume.competencies.join(", ")}
        </h4>
      </article>
      <article>
        <h4>
          <strong>Technical Skills</strong>: {
            resume.skills
              .map((skill) => `${skill.domain} (${skill.skills.join(", ")})`)
              .join(", ")
          }
        </h4>
      </article>
    </section>
    <section>
      <h2>Projects</h2>
      {
        resume.projects.map((project) => (
          <article>
            <h4>
              <strong>{project.name}</strong>, {project.team}
            </h4>
            <ul>
              {project.bullets.map((bullet) => (
                <li>{bullet}</li>
              ))}
            </ul>
          </article>
        ))
      }
    </section>
    <section>
      <h2>Certifications</h2>
      {
        resume.certifications.map((cert) => (
          <article>
            <h4>
              <strong>{cert.name}</strong>, {cert.issuer}
            </h4>
            <ul>
              {cert.notes.map((note) => (
                <li>{note}</li>
              ))}
            </ul>
          </article>
        ))
      }
    </section>
    <section>
      <h2>Interests</h2>
      <ul>
        <li>
          {resume.interests.join(", ")}
        </li>
      </ul>
    </section>
  </body>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Source Sans Pro", sans-serif;
      list-style-type: circle;
      font-size: 14px;
    }

    body {
      width: 8.5in;
      height: 11in;
      padding: 1rem !important;
      border-bottom: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    section,
    header,
    section > * {
      width: 100%;
    }

    article {
      position: relative;
      padding: 2px 0;
      padding-left: 10px;
    }
    section > article {
      padding-left: 0;
    }

    ul {
      padding-left: 0.19in;
    }

    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    h1 {
      font-size: 28px;
      width: 100%;
      text-align: center;
    }

    header p {
      padding: 0 0.5em;
    }

    h2 {
      font-size: 18px;
      border-bottom: 1px solid #ccc;

      border-top: 1px solid #ccc;
      margin: 0.05in 0;
    }

    h3 {
      font-size: 18px;
    }

    .timeRange,
    .location {
      position: absolute;
      top: 0;
      right: 0;
    }

    strong {
      font-style: italic;
    }

    article > article > h4 {
      border-bottom: 1px solid #ccc;
    }

    @media print {
      body {
        border: none;
      }
    }
  </style>
</html>
